h1{
	color: rgb(180,0,0);
	font-size: 32px;
	font-family: Georgia;
	font-weight: bold;
}

h2{
	color: black;
	font-family: Georgia;
	font-weight: bold;
}

th{
	color: lightblue;
	font-family: Arial;

}

th.blue{
	color: blue;
}

td{
	font-family: Arial;
}

table{
	border: 2px solid green;
}

.table th, .table td{
	position = center;
}